body
{
	margin:0;
	padding:0;
  font-family: "Arial","Helvetica",sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

#content
{
	margin:0;
	padding:0;
  min-height:60vh;
  width:90%;
  color:black;
}

@media (768px<=width<=991px)
{
  .modal-dialog.modal-lg
  {
      max-width: 700px;
  }
}